*{
    font-family:'Poppins', sans-serif;
}
body{
    width: 100%;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav{
    height: 100vh;
    width: 100.1%;
    background-image: url(nav_font.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1px;
    margin-left: -1px;
}
.navbar{
    position: absolute;
    width: 90vw;
    height: 10vh;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    /* color: white; */
}
.logo{
    position: relative;
    left: 2%;
    width: 110px;
    height: 80px;
    top: 0px;
}
.menu{
    position: absolute;
    right:.1%;
    width: 400px;
    height: 100%;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}
.menu ul li{
    list-style: none;
    align-items: center;
    font-family:'Times New Roman', Times, serif ;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu ul li a:active{
    color: rgba(61, 61, 248, 0.555);
}
.logo img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.titre{
        margin: auto;
        width: 90%;
        /* height: 80vh; */
        /* border: 2px solid red; */
        padding-top: 200px;
}
.titre h1{
        
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
        color: white;
        font-size: 3rem;
        text-align: center;
        /* padding:0 5%; */
}
.deco{
    width: 150px;
    height: 5px;
    background-color: rgba(61, 61, 248, 0.555);
    border-radius: 15px;
    margin-bottom: -15px;
}
.Soustitre{
    margin-top: 5%;
    margin-left: 5% ;
    display: block;
}
.Soustitre h1{
   font-size:2.5rem; 
}

.quinoussomme{
   display: inline-block;
}
.sousDiv{
   display: flex;
   width: 90%;
   height: 500px;
   background-color:rgba(255, 255, 255, 0.666) ;
   margin: 10px auto;
   border-radius: 15px;
   box-shadow: 2px 3px 10px rgba(62, 60, 60, 0.696);
   padding-right: 5px;
   margin-bottom: 5%;
}
.sousDiv img{
   width: 45%;
   /* border: 1px solid black; */
   border-radius: 15px;
   margin:20px;
}
.descrip{
   width: 98%;
   height: 75%;
   overflow: auto;
   margin-left: 20px;
   font-size: 1.2rem;
   margin-top: 5%;
   /* border: 1px solid black; */
}
.descrip p{
   /* display: inline-block; */
   line-height: 25px;
}
::-webkit-scrollbar{
   display: none;
}
.desc_lien{
    position: relative;
    display: inline-block;
    width: 100%;
    /* border: 2px solid black; */
}
.desc_lien a{
    position: absolute;
    left: 20px;
    bottom: 30px;
    text-decoration: none;
    color: black;
    padding:18px 25px;
    font-weight: bolder;
    border:2px solid rgba(61, 61, 248, 0.555);
    box-shadow: 1px 2px 6px rgba(61, 61, 248, 0.555);
}
.desc_lien a:hover{
    /* border: 2px solid black; */
    background-color: rgba(61, 61, 248, 0.555);
    transition: all 0.9s ease-in-out;
    box-shadow: none;
}