*{
    font-family:'Poppins', sans-serif;
}
body{
    width: 100%;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}


.header{
    height: 100vh;
    width: 100.1%;
    background-image: url(nav_font.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1px;
    margin-left: -1px;
    /* border: 1px solid white; */
}
.navbar{
    position: absolute;
    width: 90vw;
    height: 10vh;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    /* border: 1px solid white; */
}
.logo{
    position: relative;
    left: 2%;
    width: 110px;
    height: 80px;
    top: 0px;
}
/* nav */
nav{
    position: absolute;
    right:.1%;
    width: 400px;
    height: 100%;
    /* border: 1px solid white; */
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}
nav ul li{
    list-style: none;
    align-items: center;
    font-family:'Times New Roman', Times, serif ;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:active{
    color: rgba(61, 61, 248, 0.555);
}
.logo img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.menu{
    position: absolute;
    right: 5px;
    width: 70px;
    height: 70px;
    display: none;
}
.menu img{
    
    width: 100%;
    height: 100%;
}
#toogle{
    position: absolute;
}
#retour{
    position: absolute;
    display: none;
}
.titre{
    margin: auto;
    width: 90%;
    /* height: 80vh; */
    /* border: 2px solid red; */
    padding-top: 200px;
}
.titre h1{
        
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
    text-align: center;
    /* padding:0 5%; */
}
::-webkit-scrollbar{
    display: none;
 }
 .colaborateur{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 7%;
    margin: auto;
}
.colab_logo{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-top: 5%;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(62, 60, 60, 0.696);
}
.colab_logo img{
    width: 80%;
    height: 90%;
    display: flex;
    margin: 5px auto;
}
footer{
    display: block;
    width: 100%;
}
.footer{
    height: 45vh;
    width: 100%;
    background-image: url(footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.blocsfooter{
    width: 90%;
    height: 40vh;
    display: flex;
    margin:5% auto;
    justify-content: space-around;
    padding-top: 10px;
}

.foot_desc{
    display: block;
    flex-wrap: wrap;
    height: 43vh;
    line-height: 25px;
    color: white;
    /* border: 1px solid white; */
}
.foot_desc img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* margin-left: 20px; */
    /* margin-top: 30px; */
}

.foot_nav{
    width: 150px;
    height: 43vh;
    margin-top: 2%;
    color: white;
}
.foot_nav ul{
    color: white;
    list-style: none;
    padding-left: 10px;
}
.foot_nav ul a{
    color: white;
    text-decoration: none;
    /* margin-top: 20px; */
    line-height: 40px;
}

.foot_reseau_sociaux{
    width: 400px;
    height: 40vh;
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
    color: white;
}
.foot_reseau_sociaux a{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 5px;
}
.foot_reseau_sociaux a:hover{
    scale: 1.1;
    background-color: orangered;
}
.foot_reseau_sociaux a img{
    width: 100%;
    height: 100%;
}
.copyright{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    align-items: center;
    color: white;
    backdrop-filter: blur(7px);
   
}














@media screen and (max-width: 700px) {
    .cacher{
        display: none;
    }
    .menu{
        position: absolute;
        top: 15px;
        right: 5px;
        width: 55px;
        height: 55px;
        display: block;
        background-color: white;
        border-radius: 15px;
    }
    .menu:hover{
        cursor: pointer;
    }
    .menu img{
        
        width: 100%;
        height: 100%;
    }
    #toogle{
        position: absolute;
    }
    #retour{
        position: absolute;
        display: none;
    }


    nav{
        position: absolute;
        top: -5px;
        right:-10px ;
        width: 100%;
        height: 60vh;
        /* border: 1px solid white; */
        background-color: rgba(41, 40, 40, 0.607);
        backdrop-filter: blur(4px);
        border-radius: 15px;
    }
    nav ul{
        width: 80%;
        height: 100%;
        position: absolute;
        margin:70px auto;
        /* transform: translate(120%, 10%); */
        display: inline-block;
         text-align: center; 
    }
    nav ul li{
        list-style: none;
        align-items: center;
        font-family:'Times New Roman', Times, serif ;
        
        margin-top: 30px;
    }
    nav ul li a{
        /* font-weight: bolder; */
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
    }
    .logo img{
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .menu{
        position: absolute;
        top: 17px;
        right: -5px;
        width: 50px;
        height: 50px;
        display: block;
        background-color: white;
        border-radius: 15px;
    }
    nav{
        position: absolute;
        top: -5px;
        right:-10px ;
        width: 100%;
        height: 65vh;
        /* border: 1px solid white; */
        background-color: rgba(41, 40, 40, 0.607);
        backdrop-filter: blur(7px);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
    }
    nav ul{
        width: 73%;
        height: 100%;
        position: absolute;
        margin:100px auto;
        /* transform: translate(120%, 10%); */
        display: inline-block;
         text-align: center; 
    }
    .logo{
        position: relative;
        left: -3%;
        width: 95px;
        height: 70px;
        top: 0px;
    }
    
    .titre{
        margin: auto;
        width: 98%;
        padding-top: 150px;
        font-size: xx-large;
    }
    .titre h1{
        font-size: 2.5rem;
    }
    .colab_logo{
        margin-left: 10px;
        /* margin-top: 20%; */
        margin: 10px auto;

    }
    
    footer{
        width: 100%;
        height: 95vh;
        margin-top: 120px;
    }
    .footer{
        width: 100%;
        position: relative;
        height: 95vh;
        margin: auto;
    }
    .blocsfooter{
        display: block;
        width: 99%;
        height: 75vh;
        justify-content: space-around;
    }
    .foot_desc img{
        width: 70px;
        height: 70px;
        margin-left: 20px;
        /* margin-top: 30px; */
    }
    .foot_desc{
        width: 98%;
        font-size: 1.1rem;
        line-height: 28px;
    }
    .foot_nav{
        width: 80%;
        height: 40vh;
        margin-top: 5%;
        margin-left: 20px;
        color: white;
        text-align: left;
    }
    .foot_reseau_sociaux{
        width: 80%;
        height: 50px;
        /* margin:2% auto; */
        display:flex;
        align-items: center;
        justify-content: space-around;
        margin-top: -5%;
        color: white;
    }
    
}


@media screen and (max-width: 350px) {
    .menu{
        position: absolute;
        top: 9px;
        right: -5px;
        width: 45px;
        height: 45px;
        display: block;
        background-color: white;
        border-radius: 15px;
    }
    nav ul{
        width: 73%;
        height: 100%;
        position: absolute;
        margin:40px auto;
        /* transform: translate(120%, 10%); */
        display: inline-block;
         text-align: center; 
    }
    .logo{
        position: relative;
        left: -2%;
        width: 85px;
        height: 60px;
        top: 0px;
    }

    .titre{
        margin: auto;
        width: 98%;
        padding-top: 120px;
        font-size: xx-large;
    }
    .titre h1{
        font-size: 2rem;
    }
    .colab_logo{
        margin-left: 20px;
        margin-top: 20px;
        margin: auto;
        margin-top: 5%;
    }
    footer{
        width: 100%;
        height: 140vh;
        margin-top: 120px;
    }
    .footer{
        width: 100%;
        position: relative;
        height: 100%;
        margin: auto;
    }
    .blocsfooter{
        display: block;
        width: 99%;
        height: 105vh;
        justify-content: space-around;
    }
    .foot_desc img{
        width: 70px;
        height: 70px;
        margin-left: 20px;
        /* margin-top: 30px; */
    }
    .foot_desc{
        width: 90%;
        /* height: 200px; */
    }
    .foot_nav{
        width: 80%;
        height: 40vh;
        margin-top: 45%;
        margin-left: 20px;
        color: white;
        text-align: left;
    }
    .foot_reseau_sociaux{
        width: 80%;
        height: 50px;
        /* margin:5% auto; */
        display:flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 18%;
        color: white;
    }
}









