
@media screen and (max-width: 600px) {
    .menu{
        display: none;
    }
    
    .logo{
        position: relative;
        left: 1%;
        width: 85px;
        height: 60px;
        top: 0px;
    }    
    
    .quinoussomme{
        display: block;
        overflow: hidden;
        height: 130vh;
        width: 90vw;
        /* margin: 1 auto; */
        position: relative; 
        background-color: rgba(192, 190, 190, 0.219);
    }

    .sousDiv{
        position: relative;
        width: 100%;
        height: 50%;
        /* padding: 5px; */
        flex-wrap: wrap;
    }
    .sousDiv p{
        position: relative;
        top: -5px;
        width: 90%;
        text-align: left  ;
        
    }

    .imgzone{
        width: 100%;
        height: 50%;
        /* border: 2px solid rgb(226, 28, 28);     */
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        background-image: url(photo.1502038.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    
    
    
    .deco{
        margin-left: 5px;
       justify-content: center;
    }
    .titre h1{
        position: absolute;
        top: 20%;
        
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
        color: white;
        font-size: 2.5rem;
       
        width: 80%;
        left: 5%;
        text-align: center;
        padding:0 5%;
        
}















}